@*@model BookTracker.Entities.Book*@
@model BookTracker.Models.AddEditBookViewModel


@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <a href="@Url.Action("Index","Book")" class="btn btn-primary btn-sm">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span style="font-weight:bold; text-transform:uppercase;">
                    Back To Books
                </span>
            </a>
            <h4 class="text-center">Edit<span class="font-italic"> @(Model.Id != null ? Model.Title : "")</span></h4>
        </div>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => Model.Id)
        @Html.HiddenFor(model => Model.BookStatus)


        <div class="form-group">
            <label asp-for="ISBN" class="control-label"></label>
            <input asp-for="ISBN" class="form-control" readonly />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" readonly />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" readonly />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <div>
                @Html.DropDownListFor(p => p.CategoryId, Model.CategorySelectList,
            "Please select a Category", new { @class = "form-control", @disabled = "disabled" })

                @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BookStatus" class="control-label"></label>

            <div>
                @Html.DropDownListFor(p => p.BookStatus, Model.BookStatusSelectListItems,
            "Please select a Book Status", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.BookStatus, "", new { @class = "text-danger" })
            </div>

            <span asp-validation-for="BookStatus" class="text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Update" class="btn btn-success" />
        </div>

    </div>

}































