@model IEnumerable<BookTracker.Models.SearchBookViewModel>

@using BookTracker.Models
@if (Model.Count() > 0)
{
    <a href="@Url.Action("Create", "Book" )" class="btn btn-success btn-sm">
        <i class="fa fa-plus"></i> <span style="font-weight:bold;">Track a new Book</span>
    </a>

    <table class="table table-condensed table-responsive table-striped table-hover table-sm table-search">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Action</th>
        </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                    </td>

                    <td>
                        @{
                            var className = "warning";
                            if (item.Status == TrackingStatus.Started.ToString())
                            {
                                className = "secondary";
                            }
                            else if (item.Status == TrackingStatus.Completed.ToString())
                            {
                                className = "success";
                            }
                            else if (item.Status == TrackingStatus.InProgress.ToString())
                            {
                                className = "primary";
                            }
                            else
                            {
                                className = "danger";
                            }
                        }
                        <input type="button" class="btn btn-@className btn-xs" value="@item.Status" />
                    </td>

                    <td class="dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-fw fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Details", "Book", new { id = item.Id })">
                                    <i class="fa fa-file" style="color:deepskyblue;"></i>
                                    <span>View Details</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Edit", "Book", new { id = item.Id })">
                                    <i class="fa fa-edit" style="color:green;"></i>
                                    <span>Edit</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Delete", "Book", new { id = item.Id })">
                                    <i class="fa fa-trash" style="color:red;"></i>
                                    <span>Delete</span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
    </table>
}
else
{
    <div class="col-md-12 text-center alert-danger" style="margin-top: 15px;padding-top:5px;">
        <p>Sorry No Books are being tracked at this moment. Please @Html.ActionLink("Log New Book", "Create") for tracking.</p>
    </div>
}

<style>
    .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
    }

    .table-search {
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>


