@model IEnumerable<BookTracker.Models.SearchBookViewModel>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm" style="text-transform: uppercase;">Log a book to track</a>
</p>
<table class="table table-responsive table-condensed table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <ul class="" style="list-style-type:none;">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa-fw fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>
                                <a href="@Url.Action("EditBook", "Book", new { id = item.Id })">
                                    <i class="fa fa-fw fa-edit" style="color:green;"></i>
                                    <span>Edit</span>
                                </a>
                            </li>
                            <li>
                                 <a href="@Url.Action("DeleteBook", "Book", new { id = item.Id })">
                                        <i class="fa fa-fw fa-trash" style="color:red;"></i>
                                        <span>Delete</span>
                                 </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                @*<ul class="">
                    <li> <a asp-action="EditBook" asp-route-id="@item.Id">Edit</a></li>
                    <li><a asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                    <li> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                </ul>*@
            </td>
        </tr>
}
    </tbody>
</table>

