@model BookTracker.Models.AddEditCategoryTypeViewModel


@using (Html.BeginForm("Edit", "CategoryType", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <a href="@Url.Action("Index","CategoryType")" class="btn btn-primary btn-sm">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span style="font-weight:bold; text-transform:uppercase;">
                    Back To Category Types
                </span>
            </a>
            <h4 class="text-center">Edit<span class="font-italic"> @(Model.Id != null ? Model.Name: "")</span></h4>
        </div>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => Model.Id)
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-success" style="margin-top: 15px; margin-bottom:15px;" />
                    </div>
                </form>
            </div>
        </div>

        }