@model BookTracker.Models.SearchCategoryViewModel

<div>
    <div>
        <a href="@Url.Action("Index", "Category")" class="btn btn-primary btn-sm">
            <i class="fa fa-angle-left"></i>
            <span style="font-weight:bold; text-transform:uppercase;">
                Back To Categories
            </span>
        </a>
        <h4 class="text-center">
            Details of @Model.Name
        </h4>
    </div>

    <h4>Category Details for @Model.Name</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTypeName)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Category", new RouteValueDictionary(new { id = Model.Id }))" class="btn btn-success btn-sm" style="margin-top: 15px; margin-bottom:15px;">
        <span style="font-weight:bold; text-transform:uppercase;">
            Edit Category
        </span>
    </a>
    
</div>
