
@model BookTracker.Models.AddEditCategoryViewModel


@using (Html.BeginForm("Edit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <a href="@Url.Action("Index","Category")" class="btn btn-primary btn-sm">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span style="font-weight:bold; text-transform:uppercase;">
                    Back To Categories
                </span>
            </a>
            <h4 class="text-center">Edit<span class="font-italic"> @(Model.Id != null ? Model.Name: "")</span></h4>
        </div>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => Model.Id)
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryTypeId" class="control-label"></label>
                        <div>

                            @Html.DropDownListFor(p => p.CategoryTypeId, Model.CategoryTypeSelectList, "Please select a Category Type",
                                               new { @class = "form-control" })

                            @Html.ValidationMessageFor(m => m.CategoryTypeId, "",
                                               new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>

        }
